<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.2.6900.0" authCookieName=".SFAUTH-TechnicalTask" rolesCookieName=".SFROLES-TechnicalTask" validationKey="C993B4D6191593B18FC9EF9B8C2C5A7884EFFE3FEEFF5853A162A80E971B95D18260B58D07FB79105A49F5B8794985863AD8A091B61B0D399D976496D33F6191" decryptionKey="1C19AFB7F404EA850BB8FFA4040B188C86A55D2F419CE718AF8F89D6017C3A1A" loggingCookieName=".SFLOG-TechnicalTask">
	<securityTokenIssuers>
		<add key="05945D7007BACB1E6C308D59EA87EBC0D7ADFDDCF166710CCEB5D2D5A3A4F657" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="05945D7007BACB1E6C308D59EA87EBC0D7ADFDDCF166710CCEB5D2D5A3A4F657" realm="http://localhost" />
	</relyingParties>
</securityConfig>